.select__field {
  position: relative;

  select {
    border-radius: 1.5rem;
    border: none;
    outline: none;
    height: 4.5rem;
    width: 100%;
    display: block;
    background-color: $bg-secondary-color;
    padding: 2rem 4rem 1rem 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

    &:focus ~ .select__icon {
      transform: translateY(-50%) rotate(180deg);
    }

    option {
      font-weight: normal;
      font-size: 1rem;
    }
  }

  label {
    position: absolute;
    transform: translateY(-50%);
    left: 1.25rem;
    top: 1.25rem;
    color: $secondary-color;
    font-size: 1rem;
    transition: all 0.3s;
    pointer-events: none;
  }

  .select__icon {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 1.25rem;
    color: $tertiary-color;
    transition: all 0.1s;
    transform-origin: center center;
  }
}
