main.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 100%;
    max-width: 16.438rem;
    height: 3.174rem;
    position: relative;
    margin-bottom: 3.75rem;
  }
}
