main.stats__page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
  }

  .logo {
    margin: 0 auto;
    width: 100%;
    max-width: 16.438rem;
    height: 3.174rem;
    position: relative;
    margin-bottom: 3.75rem;
  }
}
