// ==============================================
// Main Sass file
// ==============================================

// Base ========================================
@import "base/reset";

// Utils ========================================
@import "utils/variables";

// Atoms ========================================
@import "atoms/button";
@import "atoms/input";
@import "atoms/select";

// Molecules ========================================
@import "molecules/searchform";

body {
  background-color: $bg-primary-color;
  height: 100vh;
}

.container {
  padding: 5rem 3.5rem;
}
